/*
 *Name: Ansh Kapasi
 *UnityID: apkapasi
 *Date: 06-30-2023
 *Assignment: IA-4
 *Description: IA-4 html and styling
 */
 
p {
    font-family: Times;
    font-size: 16px;
    color: #FF00FF;
}

p2 {
    font-family: Times;
    font-size: 16px;
    color: #0000FF;
}

.table-border {
  border-spacing: 15px;
  border: 1px solid #FFFFFF;
  }
  
#photo-resize {
    max-width: 200px;
    max-height: 250px;
}
